<section class="menu menu2 cid-s6GOnEyuHD" once="menu" id="menu2-12">
    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://mobirise.com">
                        <img src="assets5/images/logo.png" alt="Mobirise" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black text-primary display-4" href="https://mobirise.com">Mobirise</a></span>
            </div>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
                
                
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="https://mobirise.com/extensions/kit/">Huge Sale - 97% OFF!</a></div>
            </div>
        </div>
    </nav>
</section>