.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

body {
    margin: 15px;
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    
    #blogdetailtitle {
        font-size: 5rem;
    }
}
.img-fluid
{
    width: 130%;
    height: auto;
 
}